a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.12rem;
  line-height: 1.6rem;
}

span {
  color: #407bff;
}

.pagenotfound {
  max-width: 40rem;
  margin: 0 auto;
}

.server-under-maintaince {
  margin: 6rem auto;
  transform: scale(1.1);
}

/* ====================================================================== */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* ====================================================================== */
.container-nav {
  border-bottom: 1px solid rgba(64, 123, 255, 0.6);
  width: 100%;
  background-color: rgba(64, 123, 255, 0.5);
  box-shadow: 0 10px 15px -10px rgba(64, 123, 255, 0.6);
  backdrop-filter: blur(6px);
  top: 0;
  position: sticky;
  z-index: 10;
}

.container-nav-bar {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.container-nav-bar-logo {
  flex: 1;
}

.container-nav-bar-links {
  display: flex;
}
.container-nav-bar-links a {
  padding: 1rem 2rem;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.4s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}
.container-nav-bar-links .active {

  border-bottom: 4px solid #407bff;
}

/* hovers */
.container-nav-bar-links a:hover {
  border-bottom: 4px solid rgba(64, 123, 255, 0.7);
}

/* ====================================================================== */
.main-container {
  margin: 1rem;
  width: 80%;
}

.card-container {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  z-index: 1;
}

.card {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgba(64, 123, 255, 0.3);
  border: 1px solid rgba(64, 123, 255, 0.5);
  border-radius: 1.5rem;
  box-shadow: 0 0 0px 0.5px rgba(64, 123, 255, 0.5);
}

.card-data {
  flex-basis: 60%;
}
.card-data-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.card-data-sub-head {
  font-weight: 500;
}
.card-data-desc-p {
  margin-left: 3rem;
}

.card-image {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.card:nth-child(even) .card-data:nth-child(odd) {
  order: 2;
}

/* card 2 (vertical) */
.card-2 {
  font-size: 1.3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(64, 123, 255, 0.3);
  border: 1px solid rgba(64, 123, 255, 0.5);
  border-radius: 1.5rem;
  box-shadow: 0 0 0px 0.5px rgba(64, 123, 255, 0.5);
  z-index: 1;
}

.card-2-data-title {
  text-align: center;
}

.card-2-image {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card-2:nth-child(odd) .card-2-data:nth-child(odd) {
  order: 2;
}

/* project-card */

.project-card-container {
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 77rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.project-card {
  width: 20rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(178, 202, 255);
  box-shadow: 0 0 0px 0.5px rgba(64, 123, 255, 0.5);
  border: 1px solid rgba(64, 123, 255, 0.5);
  display: flex;
  flex-direction: column;
  height: fit-content;
  transition: 0.2s ease-in-out;
}

.project-card-image {
  display: flex;
  justify-content: center;
  /* height: fit-content; */
}
.project-card-image img {
  width: 100%;
}

.project-card-data {
  margin-top: 1rem;
  /* border: solid; */
}
.project-card-data-title {
  text-align: center;
}

.desc-size {
  font-size: 0.9rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
.links a {
  margin-top: 2rem;
  padding: 8px 18px;
  color: #f3f3f3;
  background-color: #407bff;
  border-radius: 12px;
}

/* hover */
/* Corrected */
.project-card:hover {
  transform: scale(1.1);
  /* z-index: 2; */
  backdrop-filter: blur(5px);
}

/* resume */
.resume {
  margin: 0 auto;
}

/* contact */
.contact-icons-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact-icons {
  display: flex;
  justify-content: space-evenly;
  height: 8rem;
  margin-bottom: 10rem;
}

/* ====================================================================== */
.container-footer {
  width: 100%;
  background-color: #407bff;
}

.container-footer-bar {
  margin: 0 auto;
  width: 90%;
  max-width: 80rem;
  display: flex;
}

.container-footer-bar p {
  flex: 1;
  color: #f3f3f3;
}

/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
@media (width <= 800px) {
  /* hamburger menu to be added */

  .open {
    position: absolute;
    height: 100vh;
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    background-color: rgba(147, 181, 255, 0.9);
    backdrop-filter: blur(6px);
    overflow: hidden;
    transition: height 0.9s ease, padding-top 0.5s ease;
  }

  .open a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 10rem;
  }

  .open .active{
    color: #407bff;
  }

  .open.opened {
    height: 100vh;
    padding-top: 4rem;
  }

  p {
    line-height: 2rem;
  }

  .App {
    gap: 2rem;
  }

  .main-container {
    width: 80%;
  }

  .container-nav {
    transition: 0.9s;
  }
  .container-nav-bar {
    margin-top: 0.9rem;
  }

  .card-data-desc-p {
    margin: 2rem;
  }

  .container-footer-bar {
    flex-direction: column;
    align-items: center;
  }

  @media (width < 400px) {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }

    /* remove this */
    .container-nav-bar {
      margin-top: 0.5rem;
    }

    .container-nav-bar-links {
      flex-direction: column;
    }

    .main-container {
      width: 85%;
    }

    .card {
      flex-direction: column;
    }
    .card-data-desc-p {
      margin: 1rem;
    }

    .card-image {
      width: 100%;
    }

    /* card 2 */
    .card-2-data-title h1 {
      font-size: 1.2rem;
    }
    .card-2-image {
      width: 100%;
    }

    /* contact */

    .contact-icons {
      width: max-content;
    }
  }
}

/* ====================================================================== */
