@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  position: relative;
  z-index: 10000;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid #407bff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

body,
html {
  margin: 0;
  font-family: "Roboto Slab";
  color: #444444;
  background-color: #f3f3f3;
  scroll-behavior: smooth;
}
